html {
  background-color:#246
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid black;
  font: 13px arial;
  table-layout: fixed;
}

th {
  background: #def;
}

td, th {
  padding: 0.3em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  white-space: nowrap;
}
tr:nth-child(even) {
  background-color: #fff;
}
#data{
  height: 500px;
  overflow: auto;
  background-color: #f4f4f4
}

#query {
  width: 40em;
}
button{
  border-radius : 8px;
}
button.selected.btn-default {
  background: #bfb;
}
button.selected {
  background: #bfb;
}
button#Users{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.edit:hover{
  background-color: orange;
}

tr:hover {
  outline: 1px solid black;
}

.highlight {
  background: yellow;
}
#info {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.jumbotron{
  background-color: #246;
}
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
