html {
  height: 100%;
  background-color:#246
}

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

table, td, th {
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  /*border: 1px solid black;*/
  /*font: 13px arial;*/
  table-layout: fixed;
}

th {
  background: #def;
}

td, th {
  padding: 0.3em;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  white-space: nowrap;
}

tr:nth-child(even) {
  background-color: #fff;
}

#data {
  height: 90vh;
  overflow: auto;
  background-color: #f4f4f4;
  overflow-y: hidden;
  position: relative;
}

#query {
  display: none;
  width: 50vh;
}

button.selected.tables.btn-default {
  background: #337ab7;
}

button.selected.tables {
  background: #337ab7;
}

.edit:hover{
  background-color: orange;
}
.exit:hover{
  color: red;
  cursor: pointer;
}

.highlight {
  background: yellow;
}

#info {
  position: static;
}

.jumbotron {
  background-color: #246;
  height: 5vh;
  padding-top: 2.5vh;
  padding-bottom: 5vh;
  margin-bottom: 2vh;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

#main{

}

#sidebar{
  /*width: 20vh;*/
  height: 90vh;
  overflow-y: auto;
  float:left;
  margin-left: .5em;
  margin-right: .5em;
}

#tools {
  /*width: 20vh;*/
  float:right;
  margin-right: .5em;
  margin-left: .5em;
}

#displaydb {
  /*width: 20vh;*/
}

#inputfilter {
  /*width: 20vh;*/
  height: 35px;
  padding-right: 0px;
}

button {
  height: 35px;
}

.btn.main{
  border-color:#A9A9A9;
  display: none;
}

.btn.main:hover{
  border-color:#A9A9A9;
}

tr:nth-child(2) th {
  position: relative;
  background: #def;
  border-bottom: groove;
}

tr:nth-child(1) th:nth-child(2) {
  z-index: 2;
}

th:nth-child(2), td:nth-child(2) {
  position: relative;
  background: #eee;
  z-index: 1;
  border-right: groove;
}

th:hover {
  cursor: pointer;
}

#edit, #success-alert, #warning-alert {
  display: none;
}

.selected {
  background: #337ab7 !important;
  color: #ddd !important;
}

th {
  text-align: center;
}

#data table {
  table-layout: fixed;
}

#data table td:nth-child(1),
#data table th:nth-child(1) {
  display: none;
}